* {
	margin: 0 auto;
	padding: 0;
}
head {
	color: black;
}

div {
	text-align: center;
	margin-top: 5%;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 30px;
}

body {
	background-color: teal;
}

label {
	display: inline-block;
	font-size: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font: bold;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana,
		sans-serif;
}

input {
	margin: 5px;
	width: 200px;
	height: 30px;
	background-color: darkgray;
}

form {
	text-align: center;
	margin-top: 5%;
}
